{
  "printWidth": 180,
  "semi": true,
  "trailingComma": "none",
  "useTabs": false,
  "tabWidth": 2,
  "importOrder": ["<THIRD_PARTY_MODULES>", "^[./]"],
  "importOrderParserPlugins": ["typescript", "[\"decorators\", { \"decoratorsBeforeExport\": true }]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "overrides": [
    {
      "files": "**/*.md",
      "options": {
        "useTabs": false,
        "tabWidth": 4
      }
    }
  ]
}
